[submodule "simgear"]
	path = simgear
	url = git://gitorious.org/fg/simgear.git
	branch = next
[submodule "flightgear"]
	path = flightgear
	url = git://gitorious.org/fg/flightgear.git
	branch = next
[submodule "fgrun"]
	path = fgrun
	url = git://gitorious.org/fg/fgrun.git
	branch = next
[submodule "maclauncher"]
	path = maclauncher
	url = git://gitorious.org/fg/maclauncher.git
	branch = master
[submodule "fgdata"]
	path = fgdata
	url = git://git.code.sf.net/p/flightgear/fgdata
	branch = release/3.4.0
