[submodule "simgear"]
	path = simgear
	url = git://gitorious.org/fg/simgear.git
[submodule "flightgear"]
	path = flightgear
	url = git://gitorious.org/fg/flightgear.git
[submodule "fgrun"]
	path = fgrun
	url = git://gitorious.org/fg/fgrun.git
[submodule "maclauncher"]
	path = maclauncher
	url = git://gitorious.org/fg/maclauncher.git
