[submodule "simgear"]
	path = simgear
	url = https://git.code.sf.net/p/flightgear/simgear
	branch = release/2017.3
[submodule "flightgear"]
	path = flightgear
	url = https://git.code.sf.net/p/flightgear/flightgear
	branch = release/2017.3
[submodule "fgrun"]
	path = fgrun
	url = https://git.code.sf.net/p/flightgear/fgrun
	branch = next
[submodule "fgdata"]
	path = fgdata
	url = git://git.code.sf.net/p/flightgear/fgdata
	branch = release/2017.3
[submodule "windows-3rd-party"]
	path = windows-3rd-party
	url = https://git.code.sf.net/p/flightgear/windows-3rd-party
	branch = master
[submodule "getstart"]
	path = getstart
	url = https://git.code.sf.net/p/flightgear/getstart
	branch = release/2017.3
